flask
flask-sock
openai
gTTS
moviepy==1.0.3
pillow
requests
apscheduler
tweepy
praw
pypdf
cryptography
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
google-cloud-texttospeech
SpeechRecognition
pyautogui
playwright
